div{
background-color: skyblue;
border: 2px solid red;
padding: 20px;
margin: 50px auto;
border-radius: 20px;
text-align: center;
width: 400px;
}
h3{
    color: brown;
    text-align: center;
    font-size: 28px;
    margin-top: 0%;
    text-transform: uppercase;
    border-bottom: 2px solid white;
    padding-bottom:10px ;
}
p{
    color:black;
    text-align: justify;
    font-style:inherit;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 0%;
    text-transform: none;
    line-height: 1.0;
    
}